<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head')%> 
<body>
    

    <%- include('../partials/header')%> 


<main>


    
    <br>
    <div class="contenedor-formularioCreate">
        <form action="/products" method="POST" enctype="multipart/form-data">
    
            <fieldset>
                <legend>Crear producto</legend>
               <div class="contenido-form">

                <div class="art-product">
                        <label for="">Nombre del producto</label>
                        <input type="text" name="name" placeholder="Ej: Cam Logitech " required>
                </div>


                <div class="art-product">

                        <label for="">Categoría</label>
                        <select name="category">
                            <option value="Pc/Notebook">Pc/Notebook</option>
                            <option value="Audio">Audio</option>
                            <option value="Video">Video</option>
                            <option value="Sillas gamer">Sillas gamer</option>
                            <option value="Periféricos/componentes">Periféricos/componentes</option>
                            <option value="Otros">Otros</option>
                        </select>
               </div>
            
  
                <div class="art-product">
                    <label for="">Precio </label>
                    <input type="text" name="price" placeholder="Precio" required>
                </div>

                <div class="art-product">
                        <label for="">Sección</label>
                        <select name="section">
                            <option value="todos">Todos</option>
                            <option value="ofertas">Ofertas</option>
                            <option value="destacado">Destacado</option>
                        </select>
                </div>

                <div class="textarea">
                        <label for="">Descripción</label>
                        <textarea name="description" rows="8" cols="25" placeholder="Descripción del producto:" required></textarea>
                </div>

                <div class="art-product">
                    <label>Imagen</label>
                    <input type="file"  class="img" name="image" placeholder="Imagen del artículo">
                </div>
               
                        <div class="btn-form">
                            
                            <button type="submit">Cargar producto</button>
                    </div>

                    <br><br><br><br>
                </div>
            </fieldset>
                </form>
                <!--Seguir editando-->
                <div class="editar">
                    <p><a href="/products" class="seguir"><i class="fas fa-chevron-circle-left"></i>Editar un producto existente</a></p>
                </div>
    </div>
</main>




    <%- include('../partials/footer')%>

</body>
</html>