<footer>


    <section class="seccion1">

        <img src="/images/logo-174px.png" alt="logo">

        <div class="productos">

    <h5>Productos</h5>
       <p>Computadoras</p>
       <p>Auriculares</p>
       <p>Sillas</p>
       <p>Teclados</p>

    </div>


    <div class="contacto">

        <h5>Contacto</h5>
        <p>gamehome@gmail.com</p>
        <p>113344556</p>

    </div>

    <div class="contacto">

        <h5>Mas información</h5>
        <p>Nosotros</p>
        <p>Preguntas frecuentes</p>
        <p>Ayuda</p>
        

    </div>




        <div class="redes">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitch"></i>
        </div> <br>
        

     

    </section>

    <section class="seccion2">
        <p>Copyright © 2021 - GameHome </p>
        <p>Todos los derechos reservados</p>
    </section>


   </footer>