<header>

    <section class="barra1">

        <div class="contenedor-logo">
            <a href="/"><img src="/images/logo-174px.png" alt="logo que dice: Game Home"></a>

         </div>
        <div class="burger-menu">

            <i class="fas fa-bars"></i>
        </div>
        
        
        <!--Search-->

        <div class="barra-busqueda" action="#" method="GET">



            
          <!--<div class="input"><p></p></div>-->  

            <input type="text" placeholder="buscar" required class="input">


            <div class="submit"><i class="fas fa-search"></i>
            </div>
        </div>

        <div class="iconos">

           
          <a href="/usuario/registro"><i class="fas fa-sign-in-alt"></i></a>
          <a href="/usuario/login"><i class="far fa-user"></i></a> 
          <a href="/carrito"><i class="fas fa-shopping-cart"></i></a> 

        </div>

        <!--Para mobile search and shopping cart-->

        <div class="carrito">

          <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>

        </div>
    </section>      



    <section class="barra2">

        <nav>
            
                <ul>
                    <li><a href="/products">Todos los productos</a></li>
                    <li><a href="#">PC/Notebook</a></li>
                    <li><a href="#">Armá tu pc</a></li>
                    <li><a href="#">Audio & Video</a></li>
                    <a href="/"><i class="fas fa-bell"></i></a>
                    <a href="/"><i class="fas fa-heart"></i></a>
                </ul>
                <!--<div class="iconos-barra2">
                <i class="fas fa-bell"></i>
                <i class="fas fa-heart"></i>
                </div>-->
            
        </nav>

    </section>



</header>