<section class="suscribirse">

    <div class="enterate-novedades">
        <h3>¡Enterate de todas las novedades!</h3>
        <p>Recibí nuestras promociones exclusivas en tu correo.</p>
    </div>

    <div class="correo-suscripcion">

        <input type="email" placeholder="Ingresa tu email" name="correo">
        <button type="submit" value="suscripcion">SUSCRIBIRME</button>
    </div>

</section>