<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head')%>
<body class="not">
   
    <div class="error">
        <h1>404!</h1>
        </div>
        <div class="not-found"><h1>¡UPS! ¡La página que buscas no se encuentra disponible! :(</h1></div>
<br><br><br>
        <div class="editar">
            <p><a href='/' class="seguir"><i class="fas fa-chevron-circle-left"></i> Volver al Inicio</a></p>
        </div>
</body>
</html>